@model IEnumerable<MVCReleaseManagementProject.Models.bug>

@{
    ViewBag.Title = "viewbugs";
    Layout = "~/Views/Shared/LayoutTester.cshtml";
}

<h2>viewbugs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BugDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BugStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moduleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BugDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BugStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.moduleId)
    </td>
    <td>
        @*@Html.ActionLink("Close Bug", "closeBug", new { id = item.id }) |*@
        @Html.ActionLink("Close Bug", "closeBug", new { id = item.id }) |
        @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
    </td>
</tr>
}

</table>
